.game-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: red;
}


.title {
    color: white;
}

.turn-indicator {
    display: flex;
    color: white;
}

.game-area {
    display: flex;
    width: 100%;
    gap: 5%;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 10px;
    width: 40%;

    margin: 0 auto;

}

.card-square {
    background-image: url('/public/assets/game/board/board-square.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}

.card-square:hover {
    opacity: 0.9;
    cursor: pointer;
}

.player-status {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25%;
    
}

.player-status h1{
    background-color: #6A8CAF;    
    border-radius: 40px;
    padding: 3% 25%;
}



.circle {
    background-image: url('/public/assets/game/tictactoe-pieces/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: 15vw;
}

.cross {
    background-image: url('/public/assets/game/tictactoe-pieces/cross.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: 15vw;

}


