.game-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.title {
    font-size: 2rem;
}

.turn-indicator-panel {
    display: flex;
    gap: 15px;
    align-items: center;
}

.turn-indicator-panel h1 {
    width: 40vw;
    text-align: center;
}

.turn-triangle-left.active {
      width: 50px;
      height: 50px;
      background: url("/assets/game/turn-indicator/turn-indicator-active.png");
      background-size: contain;
      background-repeat: no-repeat;
}

.turn-triangle-left.inactive {
      width: 50px;
      height: 50px;
      background: url("/assets/game/turn-indicator/turn-indicator-inactive.png");
      background-size: contain;
      background-repeat: no-repeat;
      rotate: 180deg; 

}

.turn-triangle-right.active {
      width: 50px;
      height: 50px;
      background: url("/assets/game/turn-indicator/turn-indicator-active.png");
      background-size: contain;
      background-repeat: no-repeat;
      rotate: 180deg;
}

.turn-triangle-right.inactive {
      width: 50px;
      height: 50px;
      background: url("/assets/game/turn-indicator/turn-indicator-inactive.png");
      background-size: contain;
      background-repeat: no-repeat;
}

.game-area {
    display: flex;
    width: 100%;
    gap: 5%;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 10px;
    width: 40%;

    margin: 0 auto;

}

.card-square {
    position: relative;
    background-image: url('/assets/game/board/board-square.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}

.card-square.win {
    box-shadow: 0 0 0 3px red;
}

.card-square:hover {
    opacity: 0.9;
    cursor: pointer;
}

.card-square .circle {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-image: url('/assets/game/tictactoe-pieces/circle.png');    
}

.card-square .cross {
    position: absolute;
    top: 10%; 
    left: 10%;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-image: url('/assets/game/tictactoe-pieces/cross.png');
}

.player-status {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25%;
    
}

.player-status h1{
    background-color: #6A8CAF;    
    border-radius: 40px;
    padding: 3% 25%;
}

.player-status p {
    font-size: 1.5rem;
}

.circle {
    background-image: url('/assets/game/tictactoe-pieces/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: 15vw;
    max-width: 175px;

}

.circle.win {
    animation: winPulse 1s ease-in-out infinite alternate;
    background-image: url('/assets/game/tictactoe-pieces/winning-circle.png');
}

.cross {
    background-image: url('/assets/game/tictactoe-pieces/cross.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: 15vw;
    max-width: 175px;
}

.cross.win {
    animation: winPulse 1s ease-in-out infinite alternate;
    background-image: url('/assets/game/tictactoe-pieces/winning-cross.png');

}

@keyframes winPulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.10);
    }
}

  
.game-end-section {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4%
}

.menu-button {
    margin-top: 2%;
    background-color: #E7DED3;
    border-radius: 40px;
    padding: 2% 7%;
    border: 2px solid transparent;
}

.menu-button:hover {
  border: 2px solid #000000;
}
