@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu-page {
  text-align: center;    
  margin-top: 20vh; 
}

.menu-page h1 {
  font-family: "Pacifico";
  font-size: 3.2em;
  line-height: 1.1;
}

.menu-page p {
  font-family: "Pacifico";
  font-size: 1.2rem;
  max-width: 40vw;
  margin: 10px auto;
}

.menu-page button {
  font-family: "Pacifico";
  font-size: 1em;
  font-weight: 500;
  background-color: #E7DED3;
  width: 10vw;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
}

.menu-page button:hover {
  opacity: 0.75;
  border: 1px solid #000000;
}
