@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: "Pacifico";
}

p {
  font-family: "Pacifico";
  font-size: 1.2rem;
  max-width: 40vw;
}

button {
  font-family: "Pacifico";
  background-color: #E7DED3;
  width: 10vw;
  border-radius: 50px;
}

button:hover {
  background-color: #E7DED3;

}
