@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F7F3EE;
}

h1 {
  font-family: "Pacifico";
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-family: "Pacifico";
  font-size: 1.2rem;
  max-width: 40vw;
}

button {
  font-family: "Pacifico";
  font-size: 1em;
  font-weight: 500;
  background-color: #E7DED3;
  width: 10vw;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
  border: 1px solid #000000;
}
